body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(resources/pexels-fwstudio-131683.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 1rem 1rem;
    font-size: 2rem;
    color: lightgreen;
}

main > div {
    width: 300px;
    height: 300px;
    margin: auto;
    text-align: center;
    background-color: rgba(58, 131, 107, 0.808);
    color: rgb(215, 241, 156);
    padding: 1rem;
    font-size: 10rem;
    font-weight: 900;
    border: 2px solid olivedrab;
    border-radius: 50%;
}

footer > div {
    color: lightgreen;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

footer > div > div.collection {
    max-width: 50%;
    word-wrap: break-word;
}