body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(resources/pexels-fwstudio-131683.jpg);
    background-size: 100%;
    overflow: hidden;
}

#drawing_canvas {
    position: absolute;
    margin: auto;
    width: 512px;
    height: 350px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 1rem 1rem;
    font-size: 2rem;
    color: lightgreen;
}

main > div {
    width: 300px;
    height: 300px;
    margin: auto;
    text-align: center;
    background-color: rgba(58, 131, 107, 0.808);
    color: rgb(215, 241, 156);
    padding: 1rem;
    font-size: 10rem;
    font-weight: 900;
    border: 2px solid olivedrab;
    border-radius: 50%;
    vertical-align: middle;
}
#ilm {
    display: none;
}
input {
    border-style: hidden;
    width: 200px;
    text-align: center;
    padding: 0.2rem;
    border-radius: 10%;
    margin: auto;
    background-color: rgba(58, 131, 107, 0.808);
    color: rgb(215, 241, 156);
    font-size: 1rem;
  }


  
  .no-outline:focus {
    outline: none;
  }

footer > div {
    color: lightgreen;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

footer > div > div {
    width: 20%;
    word-wrap: break-word;
}

.both {
    position: absolute;
    top: 1;
    left: 48%;
}
input[class="both"] {
    visibility: hidden;
    z-index: 1;
}