@keyframes scoreanim {
    0%   {transform: translateX(-50%) translateY(50%);}
    45%  {transform: translateX(-50%) translateY(-150px);}
    100%  {transform: translateX(-50%) translateY( 50%);}
    
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(resources/pexels-fwstudio-131683.jpg);
    background-size: cover;
}

/* #drawing_canvas {
    position: absolute;
    margin: auto;
    width: 512px;
    height: 350px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */

header {
    margin: auto;
    text-align: center;
    padding: 1rem 1rem;
    font-size: 1rem;
    color: lightgreen;
}

main > div {
    width: 200px;
    height: 200px;
    margin: auto;
    text-align: center;
    background-color: rgba(58, 131, 107, 0.808);
    color: rgb(215, 241, 156);
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    border: 2px solid olivedrab;
    border-radius: 50%;
    vertical-align: middle;
}

#your-score {
    font-size: 3rem;
    position: absolute;
    top: 30%;
    left: 50%;
    opacity: 0.3;
    padding: 1.5rem;
    z-index: -1;
    animation: 6s linear scoreanim infinite;
}
#ilm {
    display: none;
}
input {
    border-style: hidden;
    width: 200px;
    text-align: center;
    padding: 0.2rem;
    border-radius: 10%;
    margin: auto;
    background-color: rgba(58, 131, 107, 0.808);
    color: rgb(215, 241, 156);
    font-size: 1rem;
  }
  .no-outline:focus {
    outline: none;
  }

footer > div {
    color: lightgreen;
    display: flex;
    justify-content: space-around;
    padding: 0.2rem;
}

footer > div > div {
    width: 31%;
    word-wrap: break-word;
}

.both {
    position: absolute;
    left: 48%;
}
input[class="both"] {
    visibility: hidden;
    z-index: 1;
}
